<div class="container">
    <div class="row">
        <div class="col-12 path-row">
            Services > Home Visits
        </div>
    </div>
    <div class="row">
        <div class="col-12 shared-menu-bar">
            <div class="row ">
                <div id="HomeVisits" class="col-12 col-md-3 d-flex justify-content-center align-items-center" style="background-color: red;">
                    Home Visits
                </div>
                <div id="VideoCall" class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                    Video Call
                </div>
                <div id="Call" class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                    Call
                </div>
                <div id="Chat" class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                    Chat
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <div class="Shared-Component">
                <router-outlet>

                </router-outlet>
            </div> 
        </div>
    </div>
</div>

