.OnClick-Style
{
    border-inline-start: 2px solid #262D70;
    color: #262D70;
    font-weight: 700;
}

.shared-menu-bar
{
    background-color: #edf1fb;
    font-size: 16px;
    color: #262d70;
    font-weight: 500;
    user-select: none;
}

.path-row
{
    font-size: 15px;
    font-weight: 500;
    color: rgba(38, 44, 58, 0.85);
    padding: 15px;
    padding-left: 0px;
}

.Shared-Component
{
    background-color:white;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px 10px;
}

.Active-Block
{
    background-color: #262d70;
    color: whitesmoke;
    border-radius: 10px;
}
.changeCursor
{
    cursor: pointer;
}

.padding-block
{
    padding: 15px;
}