
.main-Shared-place {
    height: 90%;
    /* background-color: tomato; */
    margin-top: 20px;
  }
  .Name-item {
    width: 80%;
    height: 80%;
    background-color: red;
    /* margin: 10%; */
    margin-top: 0px;
    /* margin-left: 0px; */
  }
  .lbl-Register {
    display: inline-block;
    padding-bottom: 5px;
  }

  .input-style {
    /* background-color: black; */
    font-size: 16px;
    /* border: 1px solid #C5C7CF; */
    border-radius: 8px;
    position: relative;
  }

  .input-style input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #c5c7cf;
    border-radius: 2px;
    outline: none;
    padding-right: 35px;
    margin-bottom: 20px;
  }

  .mobile-input
  {
    padding-left: 70px;
  }
  .input-style-phone {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 0px solid #c5c7cf;
    border-radius: 8px;
    outline: none;
    display: flex;
    /* border-width: 0px; */
    position: relative;
    padding-top: 0px;
  }

  .input-group-text {
  }

  .lbl-Register {
    color: #8b90a0;
  }
  /* .col-style {
    height: fit-content;
  } */
  .errspan {
    float: left;
    margin-left: 10px;
    margin-top: -23px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  .errspan-left {
    float: left;
    margin-left: 10px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  .Path-5 {
    display: inline-block;
  }
  .next-btn {
    width: 231px;
    height: 53px;
    border-radius: 8px;
    background-color: #262d70;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: normal;
    color: #fff;
    line-height: 40px;
  }

  .star {
    color: red;
    font-weight: 500;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .icon {
    padding-left: 65px;
    background: url("../../../../assets/img/Group512657.png") no-repeat left;
    background-size: 20px;
    /* background-color: red; */
    background-position-x: 10px;
  }


  .icon-rtl {
    padding-right: 65px;
    /* background: url("../../../../assets/img/Group 512657.png") no-repeat right; */
    background-size: 20px;
    content: var("+20");
  }
  .unit {
    position: absolute;
    display: block;
    left: 36px;
    top: 10px;
    font-size: 15px;
    line-height: 22px;
    font-size: 18px;
  }

  .eye {
    position: absolute;
    display: block;
    top: 12px;
    font-size: 15px;
    line-height: 17px;
    font-weight: 500;
    right: 15px;
  }


    .img-block
    {
        /* height:70%; */
        /* background-color: green; */
        margin-bottom: 1px;
    }

    .ChangeProfilePhoto-block
    {
        /* height: 30%; */
        /* background-color: hotpink; */
    }

    .img-col-block
    {
        text-align: center;
    }

    .img-block .img-col-block img
    {
       width: 200px;
       height: 200px;
       border-radius: 10px 10px 0px 0px;
    }

  .changePhoto-btn
  {
      width:200px;
      padding: 15px 25px;
      border-radius:0px 0px 10px 10px;
      border: 1px solid #262d70;
      background-color: #262d70;
      color: white;
      font-size: 14px;
  }
  .textForArabic{
    text-align: end;
  }

  input {
    border-radius: 8px!important;
  }
   select{
    border-radius: 8px!important;
  }
  textarea{
    border-radius: 8px!important;
  }

  .locationButton{
    width: 100%;
    background-color: #00d2ca;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 500;
    margin-top: 3px;
  }


.update-Clinic-style
{
    background-color: white;
    padding: 35px;
    border-radius: 20px;
}

.Next-btn
{
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 5px;
  border-width: 0px;
  font-weight: 500;

}
.SaveChanges-btn
{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 5px;
  border-width: 0px;
  font-weight: 500;

}
