
  <div class="row ">
    <div class="col-12" style="padding-left:0px;padding-bottom: 20px;">
      <div style="font-size: 16px;font-weight: 500;">
        Clinics > Clinic Info
      </div>
    </div>
  </div>

  <div class="row update-Clinic-style">

    <div class="col-12 d-block" dir="auto">

        <div class="row">

          <!-- Picture Doctor -->
          <div class="col-lg-4 col-md-12 col-sm-12 mb-4">

              <div class="row img-block just" >
                <div class="col img-col-block">
                  <img src="{{ imgURL }}" />
                </div>
              </div>

              <div class="row ChangeProfilePhoto-block" >
                <div class="col justify-content-center" style="display: flex; align-items: center">
                  <input type="file" #file accept="image/*" id="getFile" style="display: none"
                    (change)="preview(file.files)" />

                  <button onclick="document.getElementById('getFile').click()" class="changePhoto-btn"  >
                    Change Logo
                  </button>
                </div>
              </div>

          </div>

          <div class="col-lg-8 col-md-12">

            <div class="row">

              <!-- Name -->
              <div class="col-12 col-md-6">
                <span class="lbl-Register">Name</span>
                <span class="star"> * </span>
                <div class="input-style">
                  <input type="text" [(ngModel)]="ClinicToUpdate.Name" class="form-control"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="10" minlength="3" />
                </div>
              </div>

              <!-- NameAr -->
              <div class="col-12 col-md-6 textForArabic">
                <span class="lbl-Register">NameAr</span>
                <span class="star"> * </span>
                <div class="input-style">
                  <input type="text" [(ngModel)]="ClinicToUpdate.NameAr" class="form-control textForArabic"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="10" minlength="3" />
                </div>
              </div>

              <!-- Email -->
              <div class="col-12 col-md-6">
                <span class="lbl-Register">{{
                  "mainModule.signup.Email" | translate
                  }}</span>
                <span class="star"> * </span>
                <div dir="auto" class="input-style">
                  <input type="email" [(ngModel)]="ClinicToUpdate.Email"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="50" minlength="5" />
                </div>
              </div>

              <!-- FixedFee -->
              <div class="col-12 col-md-6">
                <span class="lbl-Register">FixedFee</span>
                <span class="star"> * </span>
                <div dir="auto" class="input-style">

                  <input type="number" [(ngModel)]="ClinicToUpdate.FixedFee"
                    style="border-width: 1px; outline: none; display: block" class="form-control" />
                </div>
              </div>

               <!-- city -->
               <div class="col-12 col-md-6" >
                <span class="lbl-Register">City</span>
                <span class="star"> * </span>
                <select class="form-select"
                        aria-label="Default select example"
                        (change)="SelectCity($event)"
                        style="margin-bottom: 20px;">

                  <option value="" selected>{{CitiesList[ClinicToUpdate.CityId].Name}}</option>
                  <option *ngFor="let item of Cities" value="{{ item.Id }}">
                    {{ item.Name }}
                  </option>
                </select>
              </div>

              <!-- Area -->
              <div class="col-12 col-md-6" >
                <span class="lbl-Register"> Area </span>
                <span class="star"> * </span>
                <select class="form-select"
                        aria-label="Default select example"
                        (change)="SelectArea($event)"
                        style="margin-bottom: 20px;">

                      <option value="" selected>{{AreaList[ClinicToUpdate.AreaId].Name}}</option>
                      <option *ngFor="let item of Areas" value="{{ item.Id }}">
                        {{ item.Name }}
                      </option>
                </select>
              </div>
            </div>
          </div>
          
        </div>

        <div class="row" >

          <!-- Address -->
          <div class="col-12 col-md-8">
            <span class="lbl-Register">Location (GoogleMap)</span>
            <!-- <span class="star"> * </span> -->
            <div class="input-style">
              <input [(ngModel)]="ClinicToUpdate.Address" type="text" dir="auto" class="form-control textForArabic" />
            </div>
          </div>

          <div class="col-12 col-md-4" style="margin-bottom: 20px;">
            <span class="lbl-Register"></span>
            <div  class="d-flex justify-content-center"
                  style="align-items: center;">

                  <button class="btn locationButton" (click)="openGoogelMapsModal()">
                      <svg class="mb-1" width="21" height="21" viewBox="0 0 21 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_147_2460)">
                          <path
                            d="M10.9128 6.81087C9.07109 6.81087 7.57943 8.30254 7.57943 10.1442C7.57943 11.9859 9.07109 13.4775 10.9128 13.4775C12.7544 13.4775 14.2461 11.9859 14.2461 10.1442C14.2461 8.30254 12.7544 6.81087 10.9128 6.81087ZM18.3628 9.31087C17.9794 5.83587 15.2211 3.07754 11.7461 2.69421V0.977539H10.0794V2.69421C6.60443 3.07754 3.84609 5.83587 3.46276 9.31087H1.74609V10.9775H3.46276C3.84609 14.4525 6.60443 17.2109 10.0794 17.5942V19.3109H11.7461V17.5942C15.2211 17.2109 17.9794 14.4525 18.3628 10.9775H20.0794V9.31087H18.3628ZM10.9128 15.9775C7.68776 15.9775 5.07943 13.3692 5.07943 10.1442C5.07943 6.91921 7.68776 4.31087 10.9128 4.31087C14.1378 4.31087 16.7461 6.91921 16.7461 10.1442C16.7461 13.3692 14.1378 15.9775 10.9128 15.9775Z"
                            fill="white" />
                        </g>
                        <defs>
                          <clipPath id="clip0_147_2460">
                            <rect width="20" height="20" fill="white" transform="translate(0.912109 0.144531)" />
                          </clipPath>
                        </defs>
                      </svg>
                      Pick Location
                  </button>

            </div>

          </div>

        </div>

        <div class="row">

          <!-- Phone Number -->
          <div class="col-12 col-md-4 mb-4">
            <span class="lbl-Register">Phone Number</span>
            <span class="star"> * </span>
            <div dir="auto" class="input-style">
              <input type="number"
                      style=" border-width: 1px;
                              outline: none;
                              display: block;
                              padding-left: 70px;"
                      class="form-control"

                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="10"
                      minlength="10"
                      [class.icon]="1"
                      [(ngModel)]="ListOfMobileNumber[0]" />

              <span class="unit">+20</span>
            </div>
          </div>

          <!-- Phone Number2 -->
          <div class="col-12 col-md-4 mb-4">
            <span class="lbl-Register">Phone Number2</span>
            <div dir="auto" class="input-style">

              <input type="number"
                      style=" border-width: 1px;
                              outline: none;
                              display: block;
                              padding-left: 70px;"
                        class="form-control"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="10"
                        minlength="10"
                        [class.icon]="1"
                        [(ngModel)]="ListOfMobileNumber[1]" />

              <span class="unit">+20</span>
            </div>
          </div>

          <!-- Phone Number3 -->
          <div class="col-12 col-md-4 mb-4">
            <span class="lbl-Register">Phone Number3</span>
            <div dir="auto" class="input-style">

              <input type="number"
                      style=" border-width: 1px;
                              outline: none;
                              display: block;
                              padding-left: 70px;"
                      class="form-control"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="10"
                      minlength="10"
                      [class.icon]="1"
                      [(ngModel)]="ListOfMobileNumber[2]" />
              <span class="unit">+20</span>
            </div>
          </div>

        </div>

        <div class="row">
          <!-- Building Number -->
          <div class="col-12 col-md-4 mb-4">
            <span class="lbl-Register">Building Number</span>
            <span class="star"> * </span>
            <div dir="auto" class="input-style">
              <input type="number" [(ngModel)]="ClinicToUpdate.BlockNo"
                style="border-width: 1px; outline: none; display: block" class="form-control" />
            </div>
          </div>

          <!-- FloorNumber -->
          <div class="col-12 col-md-8 mb-4">
            <span class="lbl-Register">Floor Number</span>
            <span class="star"> * </span>
            <div dir="auto" class="input-style">

              <input type="number" [(ngModel)]="ClinicToUpdate.BlockNo"
                style="border-width: 1px; outline: none; display: block" class="form-control" />

            </div>
          </div>

        </div>

    </div>

    <div class="col-12">
      <div class="row d-flex justify-content-end">

        <div class="col-12 col-md-3 d-flex justify-content-center justify-content-sm-end" >
          <button (click)="submitClinic()" class="SaveChanges-btn" style="background-color: #262d70" >
            Save Changes
          </button>
        </div>

        <div class="col-12 col-md-2 d-flex justify-content-center justify-content-sm-start" >
          <button (click)="Next()" class="Next-btn" style="background-color: #262d70;margin-top: 2px;" >
            Next
          </button>
        </div>

      </div>
    </div>


  </div>

