.main-clinic
{
    height: 100%;
}
.NoClinicFound-style
{
    width: 70%;
    height: 70%;
}
.NoClinicFound-lbl
{
    font-size: 20px;
    color: #8B90A0;
    font-weight: 500;
    display: block;

}

 .NoClinicFound-title
{
    font-size: 32px;
    /* color: #8B90A0; */
    font-weight: 500;
    display: block;
}

.AddNewClinic-style
{
    width: fit-content;
    padding: 10px;
    padding-left:30px ;
    padding-right:30px ;
    background-color: #262D70;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    /* margin-top: 10px; */

}
.Clinic-table-header
{
    padding: 20px;
    padding-top:30px;
    padding-bottom:30px;
    font-size: 18px;
    font-weight: 500;
    color: #8B90A0;
}

.Clinic-table
{
    /* background-color: red; */
    padding: 10px;
}

.Clinic-block
{
    /* margin-top: 15px; */
    background-color: #fff;
    border-radius: 10px;
}

.Clinic-Logo-Style
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.Icon-style
{
    font-size: 20px;
    color: #a5a5a5;
    cursor: pointer;
}
.map-icon
{
    font-size: 25px;
}