<div class="row main-sidebar">
    <div class="col-3 sidebar-col">
        <div class="sidebar-item">
            <ul>
                <li id="Signup"          class="li-Content" ><span>Signup</span></li>
                <li id="Doctorinfo" #DoctorinfoRef   class="li-Content" ><span>Doctor info</span></li>
                <li id="Certificates"    class="li-Content" ><span>Certificates</span></li>
                <li id="LegalDocuments"  class="li-Content" ><span>Legal Documents</span></li>
                <li id="Congratulations" class="li-Content" ><span>Congratulations</span></li>
            </ul>
        </div>
    </div>
    <div class="col-9" style="background-color: green;">
        <router-outlet>

        </router-outlet>
    </div>
</div>