<form class="d-block" dir="auto" [formGroup]="DoctorInfoForm">
    <div class="row">
      <!-- Picture Doctor -->
      <div class="col-lg-4 col-md-12  col-sm-12 mb-4">
        <div class="row img-block just">
          <div class="col img-col-block">
            <img src="{{imgURL}}" />
          </div>
        </div>
        <div class="row ChangeProfilePhoto-block ">
          <div class="col justify-content-center" style="display: flex; align-items: center">
            <input type='file'
                    formControlName="ImageDoctor"
                   #file
                   accept="image/*" id="getFile" style="display:none"
                  (change)="preview(file.files)">

            <button onclick="document.getElementById('getFile').click()"
                    class="changePhoto-btn">
              Change Profile Photo
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="row">
          <!-- First Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">
              {{"mainModule.signup.FirstName" | translate }}
            </span>
            <span class="star"> * </span>
            <div class="input-style">
              <input type="text" class="form-control" formControlName="FirstName" [class.is-valid]="
                  DoctorInfoForm.controls['FirstName'].valid &&
                  DoctorInfoForm.controls['FirstName'].touched
                " [class.is-invalid]="
                  DoctorInfoForm.controls['FirstName'].invalid &&
                  DoctorInfoForm.controls['FirstName'].touched
                "
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10" minlength="3" />
            </div>
          </div>

          <!-- First Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.FirstNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
              <input type="text" class="form-control textForArabic" formControlName="FirstNameAr" [class.is-valid]="
                  DoctorInfoForm.controls['FirstNameAr'].valid &&
                  DoctorInfoForm.controls['FirstNameAr'].touched
                " [class.is-invalid]="
                  DoctorInfoForm.controls['FirstNameAr'].invalid &&
                  DoctorInfoForm.controls['FirstNameAr'].touched
                "
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10" minlength="3" />
            </div>
          </div>

          <!-- Middle Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">{{
              "mainModule.signup.MiddleName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
              <input type="text" class="form-control" formControlName="MiddleName" [class.is-valid]="
                  DoctorInfoForm.controls['MiddleName'].valid &&
                  DoctorInfoForm.controls['MiddleName'].touched
                " [class.is-invalid]="
                  DoctorInfoForm.controls['MiddleName'].invalid &&
                  DoctorInfoForm.controls['MiddleName'].touched
                "
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10" minlength="3" />
            </div>
          </div>

          <!-- Middle Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.MiddleNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
              <input type="text" class="form-control textForArabic" formControlName="MiddleNameAr" [class.is-valid]="
                  DoctorInfoForm.controls['MiddleNameAr'].valid &&
                  DoctorInfoForm.controls['MiddleNameAr'].touched
                " [class.is-invalid]="
                  DoctorInfoForm.controls['MiddleNameAr'].invalid &&
                  DoctorInfoForm.controls['MiddleNameAr'].touched
                "
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10" minlength="3" />
            </div>
          </div>

          <!-- Last Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">{{
              "mainModule.signup.LastName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
              <input type="text" class="form-control" formControlName="LastName" [class.is-valid]="
                  DoctorInfoForm.controls['LastName'].valid &&
                  DoctorInfoForm.controls['LastName'].touched
                " [class.is-invalid]="
                  DoctorInfoForm.controls['LastName'].invalid &&
                  DoctorInfoForm.controls['LastName'].touched
                "
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10" minlength="3" />
            </div>
          </div>

          <!-- Last Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.LastNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
              <input type="text" class="form-control textForArabic" formControlName="LastNameAr" [class.is-valid]="
                  DoctorInfoForm.controls['LastNameAr'].valid &&
                  DoctorInfoForm.controls['LastNameAr'].touched
                " [class.is-invalid]="
                  DoctorInfoForm.controls['LastNameAr'].invalid &&
                  DoctorInfoForm.controls['LastNameAr'].touched
                "
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10" minlength="3" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Gender -->
      <div class="col-12 col-md-4 mb-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Gender" | translate
          }}</span>
        <span class="star"> * </span>
        <select formControlName="Gender"
                (change)="SelectGender($event)"
                class="form-select"
                aria-label="Default select example">
          <option value="" selected >{{ "mainModule.DoctorInfo.Gender" | translate }}</option>
          <option value="1">
            {{ "mainModule.DoctorInfo.Male" | translate }}
          </option>
          <option value="2">
            {{ "mainModule.DoctorInfo.Female" | translate }}
          </option>
        </select>
      </div>

      <!-- Nationality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">
          {{ "mainModule.DoctorInfo.Nationality" | translate }}
        </span>
        <span class="star"> * </span>
        <select formControlName="Country"
                (change)="SelectCountries($event)"
                class="form-select"
                aria-label="Default select example">
          <option value="" selected>
            {{ "mainModule.DoctorInfo.Egypt" | translate }}
          </option>
          <option *ngFor="let item of DropDownList_GetCountries" value={{item.Id}}>
            {{item.Name}}
            </option>
        </select>
      </div>

      <!-- Date_of_birth -->
      <div class="col-12 col-md-4">
        <div class="">
          <span class="lbl-Register">{{
            "mainModule.DoctorInfo.Date_of_birth" | translate
            }}</span>
          <span class="star"> * </span>
          <div class="input-style">
            <input type="date" formControlName="DateOfBirth" class="form-control" [class.is-valid]="
                DoctorInfoForm.controls['DateOfBirth'].valid &&
                DoctorInfoForm.controls['DateOfBirth'].touched
              " [class.is-invalid]="
                DoctorInfoForm.controls['DateOfBirth'].invalid &&
                DoctorInfoForm.controls['DateOfBirth'].touched
              "
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="3" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Speciality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Speciality" | translate
          }}</span>
        <span class="star"> * </span>
        <select formControlName="Speciality"
                (change)="SelectSpeciality($event)"
                class="form-select" aria-label="Default select example">
          <option value="" selected>
            {{ "mainModule.DoctorInfo.Speciality" | translate }}
          </option>
          <option *ngFor="let item of DropDownList_Speciality" value={{item.Id}}>
            {{item.Name}}
            </option>
        </select>
      </div>

      <!-- SubSpeciality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.SubSpeciality" | translate
          }}</span>
        <span class="star"> * </span>
        <select formControlName="SubSpeciality"
                (change)="SelectSubSpeciality($event)"
                class="form-select"
                aria-label="Default select example">
          <option value="" selected>
            {{ "mainModule.DoctorInfo.SubSpeciality" | translate }}
          </option>
          <option *ngFor="let item of DropDownList_SubSpeciality" value={{item.Id}}>
            {{item.Name}}
            </option>
        </select>
      </div>

      <!-- Seniority -->
      <div class="col-12 col-md-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Seniority" | translate
          }}</span>
        <span class="star"> * </span>
        <select formControlName="Seniority"
                (change)="SelectSeniority($event)"
                class="form-select"
                aria-label="Default select example">
          <option value="" selected>
            {{ "mainModule.DoctorInfo.Seniority" | translate }}
          </option>
          <option *ngFor="let item of DropDownList_SeniorityLevel" value={{item.Id}}>
            {{item.Name}}
            </option>
        </select>
      </div>
    </div>

    <div class="row">
      <!-- Biography -->
      <div class="col-12 col-md-6">
        <div class="form-floating">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register">{{ "mainModule.DoctorInfo.Biography"
            | translate }}
            <span class="star"> * </span></label>
          <textarea formControlName='Biography' class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>

      <!-- BiographyAr -->
      <div class="col-12 col-md-6">
        <div class="form-floating textForArabic">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register"><span class="star"> * </span>{{
            "mainModule.DoctorInfo.BiographyAr" | translate }}</label>
          <textarea formControlName='BiographyAr' class="form-control textForArabic" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>
    </div>
  </form>

  <div class="row justify-content-end mt-4 ">
    <div class="col-3">
      <button class="btn text-white w-100" style="background-color: #262d70" (click)="DoctorInfoSubmit()">
        Next
      </button>
    </div>
  </div>
