<div class="row main-sidebar">

  <div class="col-12 col-md-3 sidebar-col">
      <div class="sidebar-item">
          <ul>
              <li id="sidebarinfo"          class="li-Content" ><span>{{'mainModule.Clinic.sidebarinfo' | translate}}</span></li>
              <li id="sidebargalary" #DoctorinfoRef   class="li-Content" ><span>{{'mainModule.Clinic.sidebargalary' | translate}}</span></li>
              <li id="sidebarschedule"    class="li-Content" ><span>{{'mainModule.Clinic.sidebarschedule' | translate}}</span></li>
          </ul>
      </div>
  </div>

  <div class="col-12 col-md-9  var-component">
      <div class="container container-outlet">

          <div class="row row-outlet">
              <div class="col-12">
                  <router-outlet >


                  </router-outlet>
              </div>
          </div>

          <div  class="row row-terms" >

                <div class="col-12 Terms-Condition-style"  >
                        <span>
                            {{'mainModule.sideBar.singingUpYouAreApproveOur' | translate}}
                            <span class="termsCondition-style">
                                {{'mainModule.sideBar.Terms&Conditions' | translate}}
                            </span>
                        </span>
                </div>

          </div>

      </div>

  </div>

</div>
