<nav class="navbar navbar-expand-lg navbar-light main-color">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-baseline " id="navbarSupportedContent">
      <form class="d-flex serachInput">
        <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search" />
      </form>
      <ul class="navbar-nav  my-2 mb-lg-0 justify-content-center" style="width: 75%;">
        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle rounded-pill border px-4" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            langue
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" (click)="ChangeLanguage(DefaultLang)" >English</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="ChangeLanguage(DefaultLang)"  >Arabic</a>
            </li>
          </ul>
        </li>
        <li class="nav-item mx-4">
          <div class="msg text-center">
            <i class="far fa-comments"></i>
          </div>
        </li>

        <li class="nav-item mx-4">
          <div class="notification text-center">
            <i class="far fa-bell"></i>
          </div>
        </li>

        <li class="nav-item mx-4">
          <div class="card mb-3 border-0">
            <div class="row g-0 main-color">
              <div class="col-md-4">
                <img src="assets/img/Group 512657@2x.png" class="img-fluid2 rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="">
                  <p class="card-text mb-0 mt-2 mx-2">Muhammed Elsayed</p>
                  <span class="mx-2 msyd16"> @msyd16 </span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
