<!-- Button trigger modal -->
<button style="padding: 10px" type="button" class="btn mx-2 text-white" style="background-color: #262d70;"
  data-bs-toggle="modal" data-bs-target="#exampleModal">
  {{ 'mainModule.login.SignIn' | translate }}
</button>

<!-- Modal -->
<div class="modal fade" style="backdrop-filter: blur(3px);" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink class="modal-header col-6 Login-As-Doctor justify-content-center py-4">{{ 'mainModule.login.LoginAsDoctor' | translate }}</a>
          <ng-template ngbNavContent>
            <form class="p-5" autocomplete="off">

              <div class="form-group">
                <label for="Phone" style="color: #8b90a0;">{{ 'mainModule.login.PhoneNumber' | translate }}</label>
                <input id="Phone" (focusout)="checkForm()" [(ngModel)]="loginDoctorForm.Phone" class="form-control"
                  style="border-color: #8b90a0!important;" type="number" name="Phone" placeholder="010 111 111 11"
                  required>
              </div>

              <div class="form-group mt-3">
                <div class="input-group mb-3">
                  <input class="form-control" id="Password" (focusout)="checkForm()"
                    [(ngModel)]="loginDoctorForm.Password" type="password" placeholder="*******" name="Password"
                    required>
                  <span (click)="passwordIcon()" class="input-group-text" style="background-color: white!important; cursor: pointer;"><i
                      class="far fa-eye text-end"  id="togglePassword"></i></span>
                </div>
                <small id="Password" *ngIf="errorMsg !=null" class="form-text  text-danger">{{errorMsg}}</small>
              </div>

              <div class="forgetPassword mt-2">
                <a href="">{{ 'mainModule.login.ForgetPassword' | translate }}</a>
              </div>
              <button (click)="Login()" [disabled]="buttonEnable" type="submit" class="btn w-100 text-white mt-5"
                style="background-color: #262d70;">{{ 'mainModule.login.SignIn' | translate }}</button>
              <label class="Dont-have-an-account-create-account mt-2">{{ 'mainModule.login.DontHaveAnAccount?' | translate }}<a href=""
                  style="color: #262d70;">{{ 'mainModule.login.createAccount' | translate }}</a></label>
            </form>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink class="modal-header col-6 Login-As-Patient justify-content-center py-4">{{ 'mainModule.login.LoginAsPatient' | translate }}</a>
          <ng-template ngbNavContent>
            <form class="p-5" autocomplete="off">

              <div class="form-group">
                <label for="Phone" style="color: #8b90a0;">{{ 'mainModule.login.PhoneNumber' | translate }}</label>
                <input id="Phone" (focusout)="checkForm()" [(ngModel)]="loginDoctorForm.Phone" class="form-control"
                  style="border-color: #8b90a0!important;" type="number" name="Phone" placeholder="010 111 111 11"
                  required>
              </div>

              <div class="form-group mt-3">
                <div class="input-group mb-3">
                  <input class="form-control" id="Password" (focusout)="checkForm()"
                    [(ngModel)]="loginDoctorForm.Password" type="password" placeholder="*******" name="Password"
                    required>
                  <span (click)="passwordIcon()" class="input-group-text border-rounded" style="background-color: white!important; cursor: pointer;"><i
                      class="far fa-eye text-end "  id="togglePassword"></i></span>
                </div>
                <small id="Password" *ngIf="errorMsg !=null" class="form-text  text-danger">{{errorMsg}}</small>
              </div>

              <div class="forgetPassword mt-2">
                <a href="">{{ 'mainModule.login.ForgetPassword' | translate }}</a>
              </div>
              <button (click)="Login()" [disabled]="buttonEnable" type="submit" class="btn w-100 text-white mt-5"
                style="background-color: #262d70;">{{ 'mainModule.login.SignIn' | translate }}</button>
              <label class="Dont-have-an-account-create-account mt-2">{{ 'mainModule.login.DontHaveAnAccount?' | translate }}<a href=""
                  style="color: #262d70;">{{ 'mainModule.login.createAccount' | translate }}</a></label>
            </form>
          </ng-template>
        </ng-container>

      </nav>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
