<div class="row main-Shared-place" >
    <form [formGroup]="signupform" >
        <div class="col-12" >
            <div class="row" style="padding-left:30px ;">
                <div class="col-12 col-md-4 col-style"  >
                    <div class="">
                        <span class="lbl-Register" >{{ 'mainModule.signup.FirstName' | translate }}</span>
                        <span class="star"> * </span>
                        <div class="input-style">

                            <input  type="text" 
                                    class="form-control"
                                    formControlName="FirstName"
                                       [class.is-valid]="signupform.controls['FirstName'].valid
                                    && signupform.controls['FirstName'].touched"
                                       [class.is-invalid]="signupform.controls['FirstName'].invalid
                                    && signupform.controls['FirstName'].touched "
                            >

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-style">
                    <div class="">
                        <span class="lbl-Register">{{ 'mainModule.signup.MiddleName' | translate }}</span>
                        <span class="star"> * </span>
                        <div class="input-style">

                            <input type="text"
                                   class="form-control" 
                                   formControlName="MiddleName" 
                                   [class.is-valid]="signupform.controls['MiddleName'].valid
                                    && signupform.controls['MiddleName'].touched"
                                       [class.is-invalid]="signupform.controls['MiddleName'].invalid
                                    && signupform.controls['MiddleName'].touched"
                            >

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-style"  >
                    <div class="">
                        <span class="lbl-Register">{{ 'mainModule.signup.LastName' | translate }}</span>
                        <span class="star"> * </span>
                        <div class="input-style">

                            <input type="text" 
                                   formControlName="LastName"
                                   class="form-control"
                                   [class.is-valid]="signupform.controls['LastName'].valid
                                    && signupform.controls['LastName'].touched"
                                       [class.is-invalid]="signupform.controls['LastName'].invalid
                                    && signupform.controls['LastName'].touched"
                            >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-12" style="margin-top: 30px;" >
    
            <div class="row" style="padding-left:30px ;">
    
                    <!-- Email -->
                    <div class="col-12 col-md-6" >
                            <span class="lbl-Register">{{ 'mainModule.signup.Email' | translate }}</span>
                            <span class="star"> * </span>
                            <div class="input-style">

                                <input  type="email" 
                                        formControlName="Email"
                                        class="form-control"
                                        [class.is-valid]="signupform.controls['email'].valid
                                        && signupform.controls['email'].touched"
                                        [class.is-invalid]="signupform.controls['email'].invalid
                                        && signupform.controls['email'].touched"
                                >

                            </div>
                    </div>
    
                    <!-- Phone Number -->
                    <div class="col-12 col-md-6 ">
                        <span class="lbl-Register">{{ 'mainModule.signup.PhoneNumber' | translate }}</span>
                        <span class="star" > * </span>
                        <div class="input-style-phone">
                            <img src="../../../../assets/img/Group 512657.png" style="margin-left: 5px;margin-right: 5px;">
                            <span>+2</span>

                            <input  formControlName="PhoneNumber"
                                    type="number" 
                                    style="width: 84%;border-width: 0px;outline: none;margin-left: 10px;"
                                    
                            >

                                <!-- 
                                    class="form-control"
                                                                        [class.is-valid]="signupform.controls['LastName'].valid
                                                                        && signupform.controls['LastName'].touched"
                                                                        [class.is-invalid]="signupform.controls['LastName'].invalid
                                                                        && signupform.controls['LastName'].touched"
                                -->

                        </div>
                    </div>
    
            </div>
        </div>
    
    
        <!-- Password Block -->
        <div class="col-12" style="margin-top: 30px;" >
                <div class="row" style="padding-left:30px ;">
                        <div class="col-12 col-md-6" >
                            <div class="form-group mt-3">
                                <label for="passwor1">{{ 'mainModule.signup.Password' | translate }}<span class="star"> * </span></label>
                                <div class="input-group mb-3">

                                    <input  formControlName="Password"
                                            class="form-control"
                                            [class.is-valid]="signupform.controls['LastName'].valid
                                            && signupform.controls['LastName'].touched"
                                            [class.is-invalid]="signupform.controls['LastName'].invalid
                                            && signupform.controls['LastName'].touched"
                                            class="form-control border-right-0" 
                                            id="Password1" 
                                            type="password" 
                                            placeholder="***********" 
                                            name="Password"
                                            required
                                        >

                                    <span (click)="passwordIcon('Password1')" class="input-group-text  border-left-0"
                                        style="background-color: white!important; cursor: pointer;"><i class="far fa-eye text-end"
                                            id="togglePassword"></i></span>
                                </div>
                            </div>
                                
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group mt-3">
                                <label for="passwor1">{{ 'mainModule.signup.ConfirmPassword' | translate }}<span class="star"> * </span></label>
                                <div class="input-group mb-3">

                                    <input  formControlName="ConfirmPassword"
                                            class="form-control"
                                            [class.is-valid]="signupform.controls['LastName'].valid
                                            && signupform.controls['LastName'].touched"
                                            [class.is-invalid]="signupform.controls['LastName'].invalid
                                            && signupform.controls['LastName'].touched"
                                            class="form-control border-right-0 " 
                                            id="Password2" 
                                            type="password" 
                                            placeholder="***********" 
                                            name="Password"
                                            required
                                    >

                                    <span  (click)="passwordIcon('Password2')" 
                                           class="input-group-text  border-left-0"
                                            style="background-color: white!important; cursor: pointer;">

                                        <i class="far fa-eye text-end"  id="togglePassword"></i>

                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    
        <!-- Next Button Block -->
        <div class="col-12" style="margin-top: 50px;margin-bottom: 20px;" >
            <div class="row" style="padding-left:30px ;">
                <div class="btn next-btn" (click)="changeStyle()" [routerLink]="['/DoctorInfo']">{{ 'mainModule.signup.Next' | translate }}</div>
            </div>
        </div>
    </form>
</div>









 