<form class="d-block" dir="auto" [formGroup]="ClinicInfoForm">
  <div class="row">
    <!-- Picture Doctor -->
    <div class="col-lg-4 col-md-12  col-sm-12 mb-4">
      <div class="row img-block just">
        <div class="col img-col-block">
          <img src="{{imgURL}}" />
        </div>
      </div>
      <div class="row ChangeProfilePhoto-block ">
        <div class="col justify-content-center" style="display: flex; align-items: center">
          <input type='file' formControlName="clinicLogo" #file accept="image/*" id="getFile" style="display:none"
            (change)="preview(file.files)">

          <button onclick="document.getElementById('getFile').click()" class="changePhoto-btn">
            Change Logo
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-12">
      <div class="row">
        <!-- Name -->
        <div class="col-lg-6 col-sm-12">
          <span class="lbl-Register">Name</span>
          <span class="star"> * </span>
          <div class="input-style">
            <input type="text" class="form-control" formControlName="Name" [class.is-valid]="
                ClinicInfoForm.controls['Name'].valid &&
                ClinicInfoForm.controls['Name'].touched
              " [class.is-invalid]="
                ClinicInfoForm.controls['Name'].invalid &&
                ClinicInfoForm.controls['Name'].touched
              "
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="3" />
          </div>
        </div>

        <!-- NameAr -->
        <div class="col-lg-6 col-sm-12 textForArabic">
          <span class="lbl-Register">NameAr</span>
          <span class="star"> * </span>
          <div class="input-style">
            <input type="text" class="form-control textForArabic" formControlName="NameAr" [class.is-valid]="
                ClinicInfoForm.controls['NameAr'].valid &&
                ClinicInfoForm.controls['NameAr'].touched
              " [class.is-invalid]="
                ClinicInfoForm.controls['NameAr'].invalid &&
                ClinicInfoForm.controls['NameAr'].touched
              "
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="3" />
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Email -->
        <div class="col-lg-6 col-sm-12">
          <span class="lbl-Register">{{
            "mainModule.signup.Email" | translate
            }}</span>
          <span class="star"> * </span>
          <div dir="auto" class="input-style">
            <input type="email" formControlName="Email" class="form-control" [class.is-valid]="
                ClinicInfoForm.controls['Email'].valid &&
                ClinicInfoForm.controls['Email'].touched
              " [class.is-invalid]="
                ClinicInfoForm.controls['Email'].invalid &&
                ClinicInfoForm.controls['Email'].touched
              "
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="50" minlength="5" />
          </div>
        </div>

        <!-- Phone Number -->
        <div class="col-lg-6 col-sm-12">
          <span class="lbl-Register">PhoneNumber</span>
          <span class="star"> * </span>
          <div dir="auto" class="input-style">
            <!-- <img src="../../../../assets/img/Group 512657.png" style="margin-left: 5px;margin-right: 5px;">
                            <span>+2</span> -->

            <input formControlName="PhoneNumber" type="number" style="border-width: 1px; outline: none; display: block"
              class="form-control"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="10" [class.is-valid]="
                ClinicInfoForm.controls['PhoneNumber'].valid &&
                ClinicInfoForm.controls['PhoneNumber'].touched
              " [class.is-invalid]="
                ClinicInfoForm.controls['PhoneNumber'].invalid &&
                ClinicInfoForm.controls['PhoneNumber'].touched
              " [class.icon]="1" />
            <span class="unit">+20</span>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Phone Number2 -->
        <div class="col-lg-6 col-sm-12">
          <span class="lbl-Register">Phone Number2</span>
          <!-- <span class="star"> * </span> -->
          <div dir="auto" class="input-style">
            <!-- <img src="../../../../assets/img/Group 512657.png" style="margin-left: 5px;margin-right: 5px;">
                            <span>+2</span> -->

            <input formControlName="PhoneNumber2" type="number" style="border-width: 1px; outline: none; display: block"
              class="form-control"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="10" [class.is-valid]="
                ClinicInfoForm.controls['PhoneNumber2'].valid &&
                ClinicInfoForm.controls['PhoneNumber2'].touched
              " [class.is-invalid]="
                ClinicInfoForm.controls['PhoneNumber2'].invalid &&
                ClinicInfoForm.controls['PhoneNumber2'].touched
              " [class.icon]="1" />
            <span class="unit">+20</span>
          </div>
        </div>

        <!-- Phone Number3 -->
        <div class="col-lg-6 col-sm-12">
          <span class="lbl-Register">Phone Number3</span>
          <!-- <span class="star"> * </span> -->
          <div dir="auto" class="input-style">
            <!-- <img src="../../../../assets/img/Group 512657.png" style="margin-left: 5px;margin-right: 5px;">
                            <span>+2</span> -->

            <input formControlName="PhoneNumber3" type="number" style="border-width: 1px; outline: none; display: block"
              class="form-control"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="10" [class.is-valid]="
                ClinicInfoForm.controls['PhoneNumber3'].valid &&
                ClinicInfoForm.controls['PhoneNumber3'].touched
              " [class.is-invalid]="
                ClinicInfoForm.controls['PhoneNumber3'].invalid &&
                ClinicInfoForm.controls['PhoneNumber3'].touched
              " [class.icon]="1" />
            <span class="unit">+20</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <span class="lbl-Register">Location (GoogleMap)</span>
          <!-- <span class="star"> * </span> -->
          <div class="input-style">
            <input type="text" class="form-control textForArabic" formControlName="NameAr" [class.is-valid]="
                  ClinicInfoForm.controls['NameAr'].valid &&
                  ClinicInfoForm.controls['NameAr'].touched
                " [class.is-invalid]="
                  ClinicInfoForm.controls['NameAr'].invalid &&
                  ClinicInfoForm.controls['NameAr'].touched
                "
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10" minlength="3" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 ">
          <div class="d-flex justify-content-center h-100" style="align-items: center;">
            <div class="mt-2">
              <button class="btn locationButton px-4" (click)="openGoogelMapsModal()">
                <svg class="mb-1" width="21" height="21" viewBox="0 0 21 21" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_147_2460)">
                    <path
                      d="M10.9128 6.81087C9.07109 6.81087 7.57943 8.30254 7.57943 10.1442C7.57943 11.9859 9.07109 13.4775 10.9128 13.4775C12.7544 13.4775 14.2461 11.9859 14.2461 10.1442C14.2461 8.30254 12.7544 6.81087 10.9128 6.81087ZM18.3628 9.31087C17.9794 5.83587 15.2211 3.07754 11.7461 2.69421V0.977539H10.0794V2.69421C6.60443 3.07754 3.84609 5.83587 3.46276 9.31087H1.74609V10.9775H3.46276C3.84609 14.4525 6.60443 17.2109 10.0794 17.5942V19.3109H11.7461V17.5942C15.2211 17.2109 17.9794 14.4525 18.3628 10.9775H20.0794V9.31087H18.3628ZM10.9128 15.9775C7.68776 15.9775 5.07943 13.3692 5.07943 10.1442C5.07943 6.91921 7.68776 4.31087 10.9128 4.31087C14.1378 4.31087 16.7461 6.91921 16.7461 10.1442C16.7461 13.3692 14.1378 15.9775 10.9128 15.9775Z"
                      fill="white" />
                  </g>
                  <defs>
                    <clipPath id="clip0_147_2460">
                      <rect width="20" height="20" fill="white" transform="translate(0.912109 0.144531)" />
                    </clipPath>
                  </defs>
                </svg>
                Pick Location</button>
            </div>
            <!-- <h1>
                <p *ngIf="coordinates.address">
                    Address: {{coordinates.address}}
                </p>
            </h1>
            <h3>
                <p *ngIf="coordinates.latitude">
                    Latitude: {{coordinates.latitude}}
                </p>
                <p *ngIf="coordinates.longitude">
                    Longitude: {{coordinates.longitude}}
                </p>
            </h3> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Gender -->
    <div class="col-12 col-md-4 mb-4 ">
      <span class="lbl-Register">{{
        "mainModule.DoctorInfo.Gender" | translate
        }}</span>
      <span class="star"> * </span>
      <select formControlName="Gender"
              class="form-select"
              aria-label="Default select example">
        <option value="" selected >{{ "mainModule.DoctorInfo.Gender" | translate }}</option>
        <option value="1">
          {{ "mainModule.DoctorInfo.Male" | translate }}
        </option>
        <option value="2">
          {{ "mainModule.DoctorInfo.Female" | translate }}
        </option>
      </select>
    </div>

    <!-- Nationality -->
    <div class="col-12 col-md-4 mb-4">
      <span class="lbl-Register">
        {{ "mainModule.DoctorInfo.Nationality" | translate }}
      </span>
      <span class="star"> * </span>
      <select formControlName="Country"
              class="form-select"
              aria-label="Default select example">
        <option value="" selected>
          {{ "mainModule.DoctorInfo.Egypt" | translate }}
        </option>
        <!-- <option *ngFor="let item of DropDownList_GetCountries" value={{item.Id}}>
          {{item.Name}}
          </option> -->
      </select>
    </div>

    <!-- Date_of_birth -->
    <div class="col-12 col-md-4">
      <div class="">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Date_of_birth" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style">
          <input type="date" formControlName="DateOfBirth" class="form-control" [class.is-valid]="
              ClinicInfoForm.controls['DateOfBirth'].valid &&
              ClinicInfoForm.controls['DateOfBirth'].touched
            " [class.is-invalid]="
              ClinicInfoForm.controls['DateOfBirth'].invalid &&
              ClinicInfoForm.controls['DateOfBirth'].touched
            "
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="10" minlength="3" />
        </div>
      </div>
    </div>
  </div>




</form>




<div class="row justify-content-end mt-4 ">
  <div class="col-3">
    <button class="btn text-white w-100" style="background-color: #262d70">
      Next
    </button>
  </div>
</div>
