/*-------------- log start ------------------*/
.logo
{
    width: 100%;
    height:10%;
    min-height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*-------------- logo end ------------------*/
/*-------------- sidebar start ------------------*/
.main-sidebar
{
    height: 100%;
    background-color: red;
    -webkit-user-select: none;
    -moz-user-select: none;
     user-select: none;

}
.sidebar-col
{
    background-color: #f3f3f3;
    padding: 0px;
    /* height: 100%; */
}
.sidebar-item
{
    width: 100%;
    /* height: 100%; */
    background-color: #f3f3f3;
    /* margin-left: 10%; */
    margin-right: 10%;
    position: absolute;
    top: 0;
    left: 0;

}

.sidebar-content
{
    width:100% ;
    height: 100%;
    /* background-color: yellow; */
}

ul
{
    /* background-color: saddlebrown; */
    list-style-type:none;
    /* margin-top: 50px; */
}
.li-Content
{
    /* background-color: salmon; */
    /* border-inline-start: 2px solid #DCDEE4; */
    color: #A6AAB5;
    font-size: 16px;
    font-weight: 500;
    /* margin: 0px; */
    padding: 5px;
    /* padding-inline-start: 15px; */
    transition: 1s;
}
.li-Content-OnClick-Style
{
    /* background-color: salmon; */
    border-inline-start: 2px solid #DCDEE4;
    color: #A6AAB5;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding: 5px;
    padding-inline-start: 15px;
    transition: 1s;
}

ul li
{
    padding-top:20px ;
    padding-bottom:20px ;
}
ul li span
{
    cursor: pointer;
}

.OnClick-Style
{
    /* border-inline-start: 2px solid #262D70; */
    color: #262D70;
    font-weight: 700;
}

.calender
{
    color: #A5A9B5;
}

.calender-visited
{
    color: #262D70;
}

.var-component
{
    background-color: #f9f9f9;
    /* padding-top: 35px; */
}


.row-terms
{
    height: 10%;
}


/*-------------- Terms-Condition Style Start   ------------------*/
.Terms-Condition-style
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8B90A0;
}
.termsCondition-style
{
    color:#00d2ca;
    cursor: pointer;
}
/*-------------- Terms-Condition Style End     ------------------*/

.title-block
{
    width: 100%;
    /* height: 50px; */
    line-height: 50px;
    background-color: yellowgreen;
}

.li-item
{
    padding-left: 20px;
    padding-right: 20px;
}

.sub-group-title
{
    color: rgba(40, 41, 45, 0.85);
    font-weight: 700;
}

.option-sidebar
{
    height: 50%;
    margin-top: 50px;
}

.menu-sidebar
{
    /* height: 50%; */
    /* margin-bottom: 100px; */
    /* border-bottom: 1px solid rgba(38, 44, 58, 0.2); */
}

.hr-sidebar-main
{
    height: 2px;
    width: 110%;
    margin-left: 0px;
    margin-right: 0px;
}
