/* You can add global styles to this file, and also import other style files */
 .qq
{
    background-color: red;
    height: 100vh;

}

/* .container
{
    height: 50% !important;
} */



/*-------------------validations input start-------------------*/
/* You can add global styles to this file, and also import other style files */
.ng-valid[required] , .ng-valid.required
{
    border-left:5px solid #42a948;
}
.ng-invalid[required] , .ng-invalid.required
{
    border-left:5px solid #a94442;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
  }
/*-------------------validations input end  -------------------*/