<div class="row">
    <!-- Title  -->
    <div class="col-12">
        <label class="Schedule">
            Schedule
        </label> 
    </div>
    <!-- Schedule Body -->
    <div *ngFor="let item of ClinicSchedule;let i=index" class="col-12">
        <div class="row Schedule-block ">
            <div class="col" style="position: relative;"><hr></div>
            <div id="Day{{i+1}}" class="col-12">
                    <!--header  -->
                    <div class="row" style="margin-bottom: 15px;" >
                        <div class="col-6 col-md-6 d-flex justify-content-start" data-bs-toggle="collapse" [attr.href]="'#multiCollapseExample'+i" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <label (click)="hideborder()" class="day-block" >
                                {{item.DayName}}
                                <span class="period-count"> {{item.DayPeriodCount}} &nbsp; Periods</span>
                            </label>
                            
                        </div>
                        <div class="col-6 col-md-6 d-flex justify-content-end">
                            <label class="switch">
                                <input type="checkbox" [checked]="item.Active == true">
                                <span class="slider round"></span>
                              </label>
                        </div>
                    </div>
                    <!-- body -->
                  <div class="row ">
                    <div class="col-12" >
                      <div class="collapse multi-collapse" id="multiCollapseExample{{i}}">
                        <div class="col-12 d-flex   justify-content-end">
                          <button (click)="AddPeriod()" class="btn text-white px-4 my-3" style="background-color: #262d70">
                            Add New Period
                          </button>
                        </div>
                        
                        <div *ngIf="item.DayPeriodCount == 0; else elseBlock1">

                            <div class="card card-body my-3"  *ngFor="let in of counter(1+Counter) ;let ii = index">

                                <form class="row" *ngIf="CheckDayExist(ClinicScheduleDay[i].DayId) == true;else elseBlock2">
                                      <div class="col-12">
                                          <div class="col-12 card-header">
                                            <div class="row">
                                              <div class="col-12 col-md-6 ">
                                                <div class="d-flex  justify-content-center justify-content-sm-start ">
                                                  <label >
                                                    Period {{i+1}}
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-12 col-md-6 d-flex   justify-content-center justify-content-sm-end ">
                                                <div class="delete-period ">
                                                  <span (click)="DeletePeriod()" style="cursor: pointer;user-select: none;">
                                                    <i class="far fa-trash-alt delete-view-btn"></i>&nbsp; Delete period
                                                  </span>
                                                  <label style="color: black;padding-left: 15px;padding-right: 15px;cursor: pointer;user-select: none;">Reset</label>
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Period body -->
                                          <div class="col-12">
                                              <div class="row" >

                                                  <div class="col-12">
                                                    <div style="padding: 20px;padding-bottom: 0px;">
                                                      <label class="lbl-input ">Operating hours</label>
                                                      <div class="row">
                                                        <div class="col-12 col-md-4 ">
                                                          <input type="time" 
                                                                 (change)="changeInput($event)" 
                                                                 #TimeFrom 
                                                                 required 
                                                                 value="{{ClinicScheduleDay[i].TimeFrom}}" 
                                                                 class="form-control input-style-period" 
                                                                 style="padding-right: 15px;">
                                                        </div>
                                                        <div class="col-12 col-md-1 justify-content-end justify-content-sm-center ">
                                                          <label class="lbl-input" style="padding-top: 5px;padding-bottom: 5px;">To</label>
                                                        </div>
                                                        <div class="col-12 col-md-4 ">
                                                          <input type="time" required value="{{ClinicScheduleDay[i].TimeTo}}" class="form-control input-style-period" style="padding-right: 15px;" >
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="col-12">
                                                    <div style="padding: 20px;padding-bottom: 0px;">
                                                      <div class="row" style="margin-bottom: 15px;">
              
                                                        <div class="col-12 col-md-4" style="margin-bottom: 10px;">
                                                          <label class="lbl-input">Interval</label>
                                                          <div style="position: relative;">
                                                            <select required
                                                                    (change)="SelectDuration($event)"
                                                                    class="form-select" 
                                                                    aria-label="Default select example">

                                                                <option value="">
                                                                  {{DurationMedicalExamination[i].Duration}}
                                                                </option>
                                                                <option *ngFor="let item of DurationMedicalExamination" value={{item.Id}}>
                                                                  {{item.Duration}} Minutes
                                                                </option>
                                                            </select>
                                                          </div>
                                                        </div>
              
                                                        <div class="col-12 offset-md-1 col-md-4" style="margin-bottom: 10px;">
                                                          <label class="lbl-input ">Visit fee</label>
                                                          <div style="position: relative;">
                                                            <input required type="number" #Fees value="{{ClinicScheduleDay[i].Fees}}"  class="form-control input-style-period" >
                                                            <label class="unit">EGP</label>
                                                          </div>                                              
                                                        </div>

                                                      </div>
                                                    </div>
                                                  </div>  

                                              </div>                                       
                                          </div>
                                      </div> 
                                      <!-- Submit button -->
                                      <div class="col-12">
                                        <div class="d-flex justify-content-end">
                                          <button type="submit" type="submit" class="next-btn"
                                          (click)="SubmitSchedule(  
                                                                    item.DayId,
                                                                    TimeFrom.value,
                                                                    ClinicScheduleDay[i].TimeTo , 
                                                                    DurationMedicalExamination[i].Id ,
                                                                    Fees.value)">
                                            Submit
                                          </button>
                                        </div>
                                      </div>    
                                </form>

                                <!--  Add New period  -->
                                <ng-template #elseBlock2>
                                  <div class="col-12">
                                    <div class="col-12 card-header">
                                      <div class="row">
                                        <div class="col-12 col-md-6 ">
                                          <div class="d-flex  justify-content-center justify-content-sm-start ">
                                            <label >
                                              Period {{i+1}}
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col-12 col-md-6 d-flex   justify-content-center justify-content-sm-end ">
                                          <div class="delete-period ">
                                            <span (click)="DeletePeriod()" style="cursor: pointer;user-select: none;">
                                              <i class="far fa-trash-alt delete-view-btn"></i>&nbsp; Delete period
                                            </span>
                                            <label style="color: black;padding-left: 15px;padding-right: 15px;cursor: pointer;user-select: none;">Reset</label>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Period body -->
                                    <div class="col-12">
                                        <!-- if period exist -->
                                        <div class="row" >

                                            <div class="col-12">
                                              <div style="padding: 20px;padding-bottom: 0px;">
                                                <label class="lbl-input ">Operating hours</label>
                                                <div class="row">
                                                  <div class="col-12 col-md-4 ">
                                                    <input type="time" (change)="changeInput($event)" #TimeFrom2 required  class="form-control input-style-period" style="padding-right: 15px;">
                                                  </div>
                                                  <div class="col-12 col-md-1 justify-content-end justify-content-sm-center ">
                                                    <label class="lbl-input" style="padding-top: 5px;padding-bottom: 5px;">To</label>
                                                  </div>
                                                  <div class="col-12 col-md-4 ">
                                                    <input type="time" required  class="form-control input-style-period" style="padding-right: 15px;" >
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="col-12">
                                              <div style="padding: 20px;padding-bottom: 0px;">
                                                <div class="row" style="margin-bottom: 15px;">
        
                                                  <div class="col-12 col-md-4" style="margin-bottom: 10px;">
                                                    <label class="lbl-input">Interval</label>
                                                    <div style="position: relative;">
                                                      <select required
                                                              (change)="SelectDuration($event)"
                                                              class="form-select" 
                                                              aria-label="Default select example">

                                                          <option value="">
                                                            Select Duration
                                                          </option>
                                                          <option *ngFor="let item of DurationMedicalExamination" value={{item.Id}}>
                                                            {{item.Duration}} Minutes
                                                          </option>
                                                      </select>
                                                    </div>
                                                  </div>
        
                                                  <div class="col-12 offset-md-1 col-md-4" style="margin-bottom: 10px;">
                                                    <label class="lbl-input ">Visit fee</label>
                                                    <div style="position: relative;">
                                                      <input required type="number" #Fees2  class="form-control input-style-period" >
                                                      <label class="unit">EGP</label>
                                                    </div>                                              
                                                  </div>

                                                </div>
                                              </div>
                                            </div>  

                                        </div>                                       
                                    </div>
                                </div> 
                                <!-- Submit button -->
                                <div class="col-12">
                                  <div class="d-flex justify-content-end">
                                    <button type="submit" type="submit" class="next-btn"
                                    (click)="SubmitSchedule(  
                                                              item.DayId,
                                                              TimeFrom2.value, 
                                                              ClinicScheduleDay[i].TimeTo,
                                                              DurationMedicalExamination[i].Id ,
                                                              Fees2.value)">
                                      Submit
                                    </button>
                                  </div>
                                </div>
                                </ng-template>

                            </div>
                        </div>
 
                        <ng-template #elseBlock1>
                          <div class="card card-body my-3"  *ngFor="let in of counter(item.DayPeriodCount+Counter) ;let i = index">
                            <form class="row">
                                <div class="col-12">
                                    <div class="col-12 card-header">
                                      <div class="row">
                                        <div class="col-12 col-md-6 ">
                                          <div class="d-flex  justify-content-center justify-content-sm-start ">
                                            <label >
                                              Period {{i+1}} 
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col-12 col-md-6 d-flex   justify-content-center justify-content-sm-end ">
                                          <div class="delete-period ">
                                          <span (click)="DeletePeriod()" style="cursor: pointer;user-select: none;">
                                            <i class="far fa-trash-alt delete-view-btn"></i>&nbsp; Delete period
                                          </span>
                                            <label style="color: black;padding-left: 15px;padding-right: 15px;cursor: pointer;user-select: none;">Reset</label>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Period body -->
                                        <div class="col-12">   
                                            <!-- if period exist -->
                                            <div class="row" *ngIf="CheckDayExist(ClinicScheduleDay[i].DayId) == true;else elseBlock3">
                                                <div class="col-12">
                                                  <div style="padding: 20px;padding-bottom: 0px;">
                                                    <label class="lbl-input ">Operating hours</label>
                                                    <div class="row">
                                                      <div class="col-12 col-md-4 ">
                                                        <input type="time" #TimeFrom3 (change)="changeInput($event)" required value="{{ClinicScheduleDay[i].TimeFrom}}" class="form-control input-style-period" style="padding-right: 15px;">
                                                      </div>
                                                      <div class="col-12 col-md-1 justify-content-end justify-content-sm-center ">
                                                        <label class="lbl-input" style="padding-top: 5px;padding-bottom: 5px;">To</label>
                                                      </div>
                                                      <div class="col-12 col-md-4 ">
                                                        <input type="time" required value="{{ClinicScheduleDay[i].TimeTo}}" class="form-control input-style-period" style="padding-right: 15px;" >
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-12">
                                                  <div style="padding: 20px;padding-bottom: 0px;">
                                                    <div class="row" style="margin-bottom: 15px;">
            
                                                      <div class="col-12 col-md-4" style="margin-bottom: 10px;">
                                                        <label class="lbl-input">Interval</label>
                                                        <div style="position: relative;">
                                                          <select required
                                                                  (change)="SelectDuration($event)"
                                                                  class="form-select" 
                                                                  aria-label="Default select example">

                                                              <option value="">
                                                                {{DurationMedicalExamination[i].Duration}} Minutes
                                                              </option>
                                                              <option *ngFor="let item of DurationMedicalExamination" value={{item.Id}}>
                                                                {{item.Duration}} Minutes
                                                              </option>

                                                          </select>
                                                          <!-- <label class="unit">Minutes</label> -->
                                                        </div>
                                                      </div>
            
                                                      <div class="col-12 offset-md-1 col-md-4" style="margin-bottom: 10px;">
                                                        <label class="lbl-input ">Visit fee</label>
                                                        <div style="position: relative;">
                                                          <input required type="number" value="{{ClinicScheduleDay[i].Fees}}"  class="form-control input-style-period" >
                                                          <label class="unit">EGP</label>
                                                        </div>                                              
                                                      </div>

                                                    </div>
                                                  </div>
                                                </div>    
                                            </div>
                                            <!--  Add New period  -->
                                            <ng-template #elseBlock3>
                                                <div class="col-12">
                                                  <div style="padding: 20px;padding-bottom: 0px;">
                                                    <label class="lbl-input ">Operating hours</label>
                                                    <div class="row">
                                                      <div class="col-12 col-md-4 ">
                                                        <input type="time" (change)="changeInput($event)" required  class="form-control input-style-period" style="padding-right: 15px;">
                                                      </div>
                                                      <div class="col-12 col-md-1 justify-content-end justify-content-sm-center ">
                                                        <label class="lbl-input" style="padding-top: 5px;padding-bottom: 5px;">To</label>
                                                      </div>
                                                      <div class="col-12 col-md-4 ">
                                                        <input type="time" required  class="form-control input-style-period" style="padding-right: 15px;" >
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-12">
                                                  <div style="padding: 20px;padding-bottom: 0px;">
                                                    <div class="row" style="margin-bottom: 15px;">
            
                                                      <div class="col-12 col-md-4" style="margin-bottom: 10px;">
                                                        <label class="lbl-input">Interval</label>
                                                        <div style="position: relative;">
                                                          <select required
                                                                  (change)="SelectDuration($event)"
                                                                  class="form-select" 
                                                                  aria-label="Default select example">

                                                              <option value="">
                                                                  Select Duration
                                                              </option>

                                                              <option *ngFor="let item of DurationMedicalExamination" value={{item.Id}}>
                                                                {{item.Duration}} Minutes
                                                              </option>

                                                          </select>
                                                          <!-- <label class="unit">Minutes</label> -->
                                                        </div>
                                                      </div>
            
                                                      <div class="col-12 offset-md-1 col-md-4" style="margin-bottom: 10px;">
                                                        <label class="lbl-input ">Visit fee</label>
                                                        <div style="position: relative;">
                                                          <input required type="number"  class="form-control input-style-period" >
                                                          <label class="unit">EGP</label>
                                                        </div>                                              
                                                      </div>
            
                                                    </div>
                                                  </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>  
                                <!-- Submit button -->
                                <div class="col-12">
                                  <div class="d-flex justify-content-end">
                                    <button type="submit" type="submit" class="next-btn"
                                    (click)="SubmitSchedule(  
                                                              ClinicScheduleDay[i].DayId,
                                                              ClinicScheduleDay[i].TimeFrom , 
                                                              ClinicScheduleDay[i].TimeTo,
                                                              DurationMedicalExamination[i].Id ,
                                                              ClinicScheduleDay[i].Fees)">
                                      Submit
                                    </button>
                                  </div>
                                </div> 
                            </form>
                          </div>
                        </ng-template>

                      </div>
                    </div>
                  </div>
            </div>  
        </div>
    </div>
</div>