<div class="row">
    <!-- Title  -->
    <div class="col-12">
       <label class="Schedule">
        Schedule
       </label> 
    </div>

    <!-- Schedule Body -->
    <div class="col-12">
        <div class="row Schedule-block ">
            <div id="Saturday" class="col-12">
                <!-- <p> -->
                    <div class="row ">
                        <div class="col-12 col-md-6 d-flex justify-content-start">
                            <label class="day-block" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                Saturday
                            </label>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-end">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                    </div>
                    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button> -->
                <!-- </p> -->
                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                          Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                          Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                        </div>
                      </div>
                    </div> -->
                  </div>
            </div>



            <!-- <div id="Sunday" class="col-12"     ></div>
            <div id="Monday" class="col-12" ></div>
            <div id="Tuesday" class="col-12" ></div>
            <div id="Wednesday" class="col-12" ></div>
            <div id="Thursday" class="col-12" ></div>
            <div id="Friday" class="col-12" ></div> -->
            
        </div>
    </div>
</div>