  <div class="row" style="min-height: 100%;padding: 15px;  background-color: #232227;">

      <!-- Logo Icon -->
    <div class="col-12
                col-md-4
                d-flex
                justify-content-center
                align-items-center"
                style="height: 100%;padding: 5px;">

      <img src="../../../assets/img/Footer/logoFooter.png"
           height="42"
           width="161">
    </div>

    <!-- Copy Rights -->
    <div class="col-12
                col-md-5
                d-flex
                justify-content-center
                align-items-center"
          style="padding: 5px;">

      <span class="copyRights"> © 2021 Salamtech. All rights reserved. </span>

    </div>

    <!-- Social Media -->
    <div class="col-12
                col-md-3
                d-flex
                justify-content-center
                align-items-center"
          style="padding: 5px;">

      <img src="assets/img/linkedin.webp"
           srcset="assets/img/linkedin@2x.webp 2x,assets/img/linkedin@3x.webp 3x"
           class="linkedin">

     <img src="assets/img/facebook.webp"
          srcset="assets/img/facebook@2x.webp 2x,assets/img/facebook@3x.webp 3x"
          class="facebook">

     <img src="assets/img/twitter.webp"
          srcset="assets/img/twitter@2x.webp 2x,assets/img/twitter@3x.webp 3x"
          class="twitter">

     <!-- <img src="assets/img/path-812.webp"
     srcset="assets/img/path-812@2x.webp 2x,
     assets/img/path-812@3x.webp 3x"
     class="Path-812"> -->

    </div>