<div class="appFooter fixed-bottom">
  <div class="row">
    <div class="col-lg-4 col-6 d-flex justify-content-start">
      <img src="assets/img/Vector.webp"
     srcset="assets/img/vector@2x.webp 2x,
     assets/img/vector@3x.webp 3x"
     class="Logo">
    </div>

    <div class="col-lg-4 col-6 d-flex justify-content-center">
      <span class="copyRights">
        © 2021 Salamtech. All rights reserved.
      </span>
    </div>

    <div class="col-lg-4 col-6 d-flex justify-content-end">
      <img src="assets/img/linkedin.webp"
     srcset="assets/img/linkedin@2x.webp 2x,
     assets/img/linkedin@3x.webp 3x"
     class="linkedin">

     <img src="assets/img/facebook.webp"
     srcset="assets/img/facebook@2x.webp 2x,
     assets/img/facebook@3x.webp 3x"
     class="facebook">

     <img src="assets/img/twitter.webp"
     srcset="assets/img/twitter@2x.webp 2x,
     assets/img/twitter@3x.webp 3x"
     class="twitter">

     <img src="assets/img/path-812.webp"
     srcset="assets/img/path-812@2x.webp 2x,
     assets/img/path-812@3x.webp 3x"
     class="Path-812">

    </div>
  </div>


</div>
