.appFooter {
  /* width: 100%; */
  height: 128px;
  margin: 6px 0 0;
  padding: 39px 82px 42px 99px;
  background-color: #232227;
}

img.Logo {
  width: 161px;
  height: 42px;
  /* margin: 0 241px 5px 0; */
  object-fit: contain;
  background-color: #232227;
}

.copyRights {
  /* width: 378px;
  height: 31px; */
  /* margin: 7px 291px 9px 241px; */
  font-family: Poppins;
  font-size: 18px;
  text-align: end;
  color: #fff;
}

img.Path-812 {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  object-fit: contain;
  background-color: #232227;
}

img.twitter {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  object-fit: contain;
  background-color: #232227;
}

img.facebook {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  object-fit: contain;
  background-color: #232227;
}

img.linkedin {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  object-fit: contain;
  background-color: #232227;
}
