<div class="container">
    <div class="row">
        <div class="col-12 path-row">
            Services > Appointments
        </div>
    </div>

    <!-- Status Bar -->
    <div class="row">

        <div class="col-12 ">

            <div class="row">
                <div class="col-9 shared-menu-bar">
                    <div class="row ">
    
                        <div id="Current" class="col-12
                                                    col-md-4 
                                                    d-flex 
                                                    justify-content-center 
                                                    align-items-center 
                                                    padding-block
                                                    changeCursor" 
                                             [routerLink]="['/main/appointment/current']">
                        Current                
                        </div>
    
                        <div  id="Upcoming" class=" col-12 
                                                    col-md-4 
                                                    d-flex 
                                                    justify-content-center 
                                                    align-items-center 
                                                    padding-block
                                                    changeCursor"
                                            [routerLink]="['/main/appointment/upcoming']">
                        Upcoming
                        </div>
    
                        <div id="History" class=" col-12 
                                               col-md-4 
                                               d-flex 
                                               justify-content-center 
                                               align-items-center 
                                               padding-block
                                               changeCursor"
                                        [routerLink]="['/main/appointment/history']">
                        History
                        </div>
    
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <button class="Filter-Btn">
                        <img src="../../../../assets/img/FilterIcon.png">
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!-- Shared Location => Display Service Components -->
    <div class="row">
        <div class="col-12 Shared-Component">
            <!-- <div class=""> -->
                <router-outlet>

                </router-outlet>
            <!-- </div>  -->
        </div>
    </div>

</div>

